/* Navigation {top vala} */
#navbar {
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home section {main content}*/
#home{
    height: 370px; 
    padding: 3px 28px;
}

#home::before{
    height: 480px; 
}

#home p{
    font-size: 13px;
}

/* Services section  */
#services{
    flex-direction: column;
}

#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

/* channel link */
#channel{
    flex-wrap: wrap;
    flex-direction: column;
}


#channel .box{
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}
/* image section */

#galary h1{
    font-size: 2.8rem;
    margin: 4px;
}


#galary p{
    font-size: 10px;
}

.imz_container{
    width: 360px;
    height: 800px;
}

.photosec {
    display: flex;
    flex-direction: row;
    padding: 11px 32px;
    height: 98px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.photosec img {
    height: 105px;
}

.photosec image:hover{
    display:none;
    height: 105px;
}

/* Contact us section */
#contact-box form{
    width:80%;
}
/* Footer */

/* Utility classes */
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}